@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.VerTodo{
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}
.post{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.publiText{
    width: 100vh;
    padding: 15px;
}
.textarea{
    width: 520px;
    padding: 6px;
    font-size: 20px;
    resize: none; 
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}
.textarea:hover{
  box-shadow: 10px 10px 5px rgba(6, 48, 235, 0.1); 
  
}

.btn-btn-dark-my-2{
  color: #fff;
  background-color: #515151;
  padding: 4px;
  border-radius: 4px;
}

.profile-image{
    height: 200px;
    width: 200px;
    object-fit: cover;
    clip-path: circle(50%);
    position: absolute;
    border: 5px solid #bbb ;
    left: -28px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
   
}
.profile-header {
    position: relative;
    width: 200px;
    height: 200px;
   
    
}
.nuestroinput{
    position: relative;
    display: inline-block;
    margin: 20px;
    max-width: 190px;
    width: 100%;
    color: #bbb;
    font-size: 16px;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
}
.nuestroinput *,
.nuestroinput:before,
.nuestroinput:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nuestroinput:before,
.nuestroinput:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 5px solid #bbb;
  border-color: transparent #bbb;
}
.nuestroinput .profile-image {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px;
  }
  .nuestroinput figcaption {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
  }
.nuestroinput:hover figcaption,
.nuestroinput.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.nuestroinput:hover:before,
.nuestroinput.hover:before,
.nuestroinput:hover:after,
.nuestroinput.hover:after {
  border-width: 10px;
}
.nuestroinput:hover:before,
.nuestroinput.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nuestroinput:hover:after,
.nuestroinput.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.profile-header {
  position: relative;
}

.image-container {
  position: relative;
  display: inline-block;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.publicacion {
  background: url('https://firebasestorage.googleapis.com/v0/b/react-firebase-upload-480ee.appspot.com/o/logo%2Fgaleria-de-imagenes.png_1708190338903?alt=media&token=c5efea73-ee90-493c-9e10-be8711fc69c8');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  cursor: pointer;
  margin-right: 18px;
}

.button {
  background: url('https://firebasestorage.googleapis.com/v0/b/react-firebase-upload-480ee.appspot.com/o/logo%2Fpicture_photo_image_icon_131252.png_1707681722853?alt=media&token=8ac8c804-c417-4d5d-b9bc-04c78e4f29e5'); /* Fondo semitransparente */
  color: black;
  border: none;
  padding: 15px;
  height: 100px;
  margin-left: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-size: 50px;
  margin-top: 80px;
  
}
.button:hover{
  cursor: pointer;
}
.position-Btn {
  margin-top: -10px;
  width: 200px;
  height: 100px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.btnPublication{
  margin: 0;
  background: url('https://firebasestorage.googleapis.com/v0/b/react-firebase-upload-480ee.appspot.com/o/logo%2Fdigital-marketing_5809330.png_1708189077564?alt=media&token=8239108c-8e08-4f52-a15b-940e72087ea4');
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.btnViewAll{
  margin: 0;
  background: url('https://firebasestorage.googleapis.com/v0/b/react-firebase-upload-480ee.appspot.com/o/logo%2Fdigital-marketing_5809330.png_1708189077564?alt=media&token=8239108c-8e08-4f52-a15b-940e72087ea4');
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}



.btnPublication:hover{
 
 border-radius: 30px;
}


/*----------------------------*/

  .Container-cards-dashboard {
    /* Agrega estilos para el contenedor principal si es necesario } */
  }

  .collageImage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 8px;
  }

  .card {
    position: relative; /* Agrega position relative al contenedor principal */
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(80% - 16px);
    height: 500px;
    margin: 8px auto;
  }

  .btn-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding: 4px;
  }

  .citas-perfile {
    background-color: #333; 
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    color: #fff; 
  }
  


  .delete .Perfile-img{
      height: 40px;
      width: 40px;
      object-fit: cover;
      clip-path: circle(50%);
      position: absolute;
      border: 5px solid #bbb;
      left: 0px;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
  }

  .delete {
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 16px;
  }
  .delete h2{
    padding-left: 30px;
  }

  .nameUser {
    margin: 0;
  }


  .decription {
    padding: 16px;
  }

  .card-image {
    width: 100%;
    height: auto;
    max-height: 200px; /* Reduje el tamaño de la imagen */
    object-fit: cover;
  }




/* .collageImage {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.collageImageAll {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 400px; 
  height: 200px;
  margin: 10px; 
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.decription {
  font-size: 26px;
  color: #333;
  padding: 10px;
  
} */
.componet{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 15px;
}
#profileImageInput{
    width: 100%;
}
.delete{
  display: flex;
  justify-content: space-between;
}
.recycle {
  background: url('https://firebasestorage.googleapis.com/v0/b/react-firebase-upload-480ee.appspot.com/o/logo%2Fgarbage_trash_bin_delete_icon_219499.png_1708126310723?alt=media&token=e18a3927-8831-43cc-a55c-778e046fc7ea');
  /* background-position: unset; */
  background-size: contain;
  /* background-repeat: no-repeat; */
  width: 35px;
  height: 35px;
  border: none;
}

.recycle:hover{
  background: url('https://th.bing.com/th/id/OIP.z_qnjH_BuWiFocmZmiqv1AAAAA?rs=1&pid=ImgDetMain');
  background-size: contain;
  background-position: center center;
}
.delete-message {
  background:white;
  color: black; /* Color del texto */
  padding: 3px; /* Espaciado interior */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de la fuente */
  position: absolute; /* Posición absoluta para superponer el mensaje */
  top: 67%; /* Alinea el mensaje en la mitad superior del contenedor padre */
  left: 50%; /* Alinea el mensaje en el centro horizontal del contenedor padre */
  transform: translate(-50%, -50%); /* Centra el mensaje horizontal y verticalmente */
  z-index: -1; /* Asegura que el mensaje esté en la parte superior */
  padding-left: 20px; /* Alinea el texto en el centro */
  width: 400px; /* Ancho del mensaje */
  border-radius: 20px;
}

.Container{
  width: 90%;
  margin-left: 100px;
}
.col-lg-4 {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #ddd;
}
.profile-cliente{
  height: 200px;
  width: 200px;
  object-fit: cover;
  clip-path: circle(50%);
  position: absolute;
  border: 5px solid #bbb ;
  top: -40px;
  left: -28px;
  border-radius: 50%;
  position: absolute;
 
 
}
.button-cliente{

    background: url('https://firebasestorage.googleapis.com/v0/b/react-firebase-upload-480ee.appspot.com/o/logo%2Fpicture_photo_image_icon_131252.png_1707681722853?alt=media&token=8ac8c804-c417-4d5d-b9bc-04c78e4f29e5'); /* Fondo semitransparente */
    color: black;
    border: none;
    padding: 15px;
    height: 100px;
    margin-left: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 50px;
    margin-top: 100px;
}