.Container-father-About {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: rgba(75,90,101,255);
  }
  
  .Container-image-About {
    flex: 1;
    text-align: center;
    padding: 0 20px;
  }
  
  .Container-image-About img {
    width: 100%;
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 10px solid #000; 
  }
  
  .Container-text-About {
    flex: 1;
    text-align: center;
    padding: 0 20px;
  }
  
  .h1-About {
    margin-bottom: 10px;
    width: 400px;
    margin: 0 auto;
    font-size: 45px;
    color: #fff;
  }
  .h1-About span{
    color: #8d989c;
  }
  .h1-About span:hover{
    color: #fff;
  }
  
  .Container-text-About p {
    line-height: 1.5;
    text-align: center;
    max-width: 65%;
    margin: 0 auto;
    margin-top: 20px; 
    color: #fff;
  }
  