.Container-father-About {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: #515151;
  }
  
  .Container-image-About {
    flex: 1;
    text-align: center;
    padding: 0 20px;
  }
  
  .Container-image-About img {
    width: 100%;
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 10px solid #000; 
  }
  
  .Container-text-About {
    flex: 1;
    text-align: center;
    padding: 0 20px;
  }
  
  .h1-About {
    margin-bottom: 10px;
    width: 400px;
    margin: 0 auto;
    font-size: 45px;
    color: #fff;
  }
  .h1-About span{
    color: #b5b5b5;
  }
  .h1-About span:hover{
    color: #fff;
  }
  
  .Container-text-About p {
    line-height: 1.5;
    text-align: center;
    max-width: 65%;
    margin: 0 auto;
    margin-top: 20px; 
    color: #fff;
  }

  @media only screen and (max-width: 480px) {
    .Container-father-About {
      flex-direction: column; 
      height: auto; 
    }
  
    .Container-image-About img {
      max-width: 80%; 
      border: 10px solid #000;
      margin-bottom: 20px; 
      padding-top: 20px;
    }
  
    .Container-text-About {
      padding: 0; 
    }
    .h1-About {
      font-size: 30px;
    }
  }

  @media only screen and (max-width: 768px){
    .Container-father-About{
      height: 100vh;
      flex-direction: column;
    }
    .Container-image-About img{
      padding-top: 25px;
    }
    .Container-image-About{
      display: contents;
    }
    .Container-text-About{
      padding-top: 30px;
    }
    .h1-About{
      font-size: 40px;
    }
  }

  @media only screen and (max-width: 1200px){
    .Container-father-About{
      height: 100vh;
      flex-direction: column;
    }
    .Container-image-About img{
      padding-top: 25px;
    }
    .Container-image-About{
      display: contents;
    }
    .Container-text-About{
      padding-top: 30px;
    }
    .h1-About{
      font-size: 40px;
    }
  }

  