*{
    margin: 0;
    padding: 0;
}

.container-father-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: url('https://images.unsplash.com/photo-1488998427799-e3362cec87c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed ;
    background-size: cover;
    background-color: #333;
  }

  
  .container-text {
    text-align: center;
    color: #515151; 
    padding-top: 110px;
  }
  
  .title-page {
    font-size: 4em; 
    font-weight: bold; 
    margin-bottom: 10px; 
  }

  /* .title-page:hover{
    color: #ffffff;
  } */
  
  .subTitle-page {
    font-size: 2.5em; 
    color: #515151;
    margin-bottom: 20px; 
  }
  
  .button-frontPage {
    padding: 10px 20px;
    font-size: 1em; 
    font-weight: bold; 
    background-color: #ffffff;
    color: #000000; 
    border: none; 
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
 .button-frontPage:hover {
    background-color: #000000;
    color: #ffffff;
  }
  @media only screen and (max-width: 480px){
    .title-page {
      font-size: 2rem;
    }
    .subTitle-page{
      font-size: 1.5rem;
    }
  }
  @media only screen and  (max-width: 768px){
    .title-page{
      font-size: 2.5rem;
    }
    .subTitle-page{
      font-size: 1.5rem;
    }
  };