* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .header-layout {
    background-color: #ffffff;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 1000; 
    width: 100%;
  }
  .logo img {
    width: 160px; 
    height: auto;
    filter: invert(40%);
  }
  
  .nav-layout ul {
    list-style: none;
    display: flex;
  }
  
  .ul-layout li {
    margin-right: 16px;
  }
  
  .li--layout a {
    text-decoration: none;
    color:#515151;
    font-weight: bold;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 480px) {
    .logo img{
      width: 110px;
    }
    .header-layout {
      padding: 0;
      height: 90px;
      position: absolute;
    }  
    .li--layout a{
      font-size: 8px;
    }
  }

  @media only screen and (max-width: 768px){
    .logo img{ 
      width: 130px;
    }
    .header-layout{
      position: absolute;
      padding: 0px 0px;
    }
    .li--layout a{
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 1200px){
    .li--layout a{
      font-size: 12px;
    }
  }
  
  
  
  
  